apiVersion: v1
kind: Secret
metadata:
  name: otel-collector-newrelic-secret
  namespace: booking
type: Opaque
data:
  apikey: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: booking-db-secret
  namespace: booking
type: Opaque
data:
  name: ""
  username: ""
  userpassword: ""